---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import PostList from '../components/PostList.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import Avatar from '../assets/avatar-blog.png';
import NombreMarcos from '../assets/nombre-marcos.png';

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const recentPosts = allPosts.slice(0, 3);
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main class="container container--responsive padding-large">

      <div class="hero-narrow">
        <section class="margin-bottom-large hero-section">
          <Image
            src={Avatar}
            alt=""
            width={200}
            height={200}
            class="article-hero hero-avatar"
          />
          <div class="hero-intro margin-none">
            <p>
              Hola, me llamo
              <img
                src={NombreMarcos.src}
                alt="Marcos Antonio Ávila Morales"
                class="hero-name-image"
              />
              y soy fullstack...
            </p>
            <p>
              {SITE_DESCRIPTION}
            </p>
          </div>
        </section>
      </div>

      <h3 class="text-center">Últimos artículos</h3>

      <PostList posts={recentPosts} singleRow />

      <p class="text-center margin-top-large">
        <a href={`${import.meta.env.BASE_URL}articles/`} class="paper-btn btn-primary">Ver todos los artículos</a>
      </p>

    </main>

    <Footer />
  </body>
</html>
